
	*{
		margin: 0;
		padding: 0;
	}

	body{
		font-size: 16px;
		font-family: Arial, sans-serif;
		top: 0;
	}	

	.ham-container{
		position: fixed;
		z-index: 90;
		display: none;
	}

	.hamberguer{
		top: 20px;
		left: 30px;
		position: absolute;
		font-size: 30px; 
		color:white; 
		cursor: pointer;
		
	}

	

	#mySideNav{
	width: 0;
	height: 100vh;
	z-index: 100;
	background-color: black;
	opacity: 0.8;
	display: block;
	position: fixed;
	text-align: center;
	transition: width 1s; 
	overflow-x: hidden;

	}

	#mySideNav.openMenu{
		width:50vw; 
	}

    #closeIcon{
    position: absolute;
    right: 15px;
    font-size: 50px;
	margin-left: 30px;
	text-decoration: none;
	color: white;
	display: block;
	font-family: Arial;

	}

	.sideNav a{
	text-decoration: none;
	font-size: 25px;
	color: white;
	display: block;
	padding: 10px;
	font-family: Arial;
	margin-top: 30px;

	}

	.sideNav a:hover{
	color: gold;
	}

/* home page */

	#home{
		width: 100%;
		height: 300px;
		background-color: grey;
		position: relative;
		text-align: center;


	}

	.fixed{
		position: fixed;
		/* color: red; */
	}

	.big-text{
		font-size: 5em;
		top: 100px;
		font-family: 'Arial';
		position: relative;
		color: white;


	}


/* First Section */
	.linkOne{
		width: 100%;
		height: 100vh;
		margin-left: 0vw;
		z-index: 1;
		background-color: palevioletred;
		position: relative;
		text-align: center;
	}



/* Second Section */
	.linkTwo{
		width: 100%;
		height: 100vh;
		margin-left: 0vw;
		z-index: 1;
		background-color: orange;
		position: relative;
		text-align: center;
	}

/* Third Section */
	.linkThree{
		width: 100%;
		height: 100vh;
		margin-left: 0vw;
		z-index: 1;
		background-color: teal;
		position: relative;
		text-align: center;
	}



/* menu page */
	.menubar{
		background-color: #f8f7fb;
		width: 100vw;
		height: 50px;
		margin-left: 0;
		margin-top: -50px;
		opacity: 0.7;
		z-index: 10;
		display: block;
		
	}

	.fixed{
		position: fixed;
		top: 50px;
		width: 100%;
		opacity: 0.9;

	}
	.menubar nav{
		align-content: center;
		text-decoration: none;
		text-align: center;
		list-style-type: none;
		padding-top: 11px;
		width: 70vw;
		height: 50px;
		margin-left: 15vw;
		margin-top: -50px;
		z-index: 20; 

	}

	.menubar nav li{
		position: relative;
		display: inline-block;
		padding-left: 1vw;
		padding-right: 1vw;

	}


	.submenu{
		text-decoration: none;
		color: #604B9F;
		background-color: none;
		font-size: 20px;
		font-family: Arial, sans-serif;
		padding: 13px;

	}

	.submenu:hover{
		background-color: #604B9F;
		color: white;
		text-decoration: none;
	}

	.purple{
		background-color: #604B9F;
		color: white;
		text-decoration: none;
	}


	.t1, .t2, .t3 {
		opacity: 0;
		transition: opacity 0.5s;
	}
	.appear{
		opacity: 1;
	}

	.display{
		display: all;
		opacity: 1;
		transition: 0.5s;
	}

@media screen and (max-width: 500px){
	#mySideNav.openMenu{
		width:100vw; 
	}
}

@media screen and (max-width: 800px){
	.ham-container{
		display: block;
	}

	.menubar{
		display: none;
	}

	.big-text{
		font-size: calc(2rem + 1vw);
	}
}